<html>

<head>
</head>

<body>
This is the home page for registering and checking events

<a href='#' onclick="javascript:record_event('Category 1','Action 1','Label 1');return false;">This is one event</a>

<a href='#' onclick="javascript:record_event('Category 2','Action 2','Label 2');return false;">This is another event</a>

<input type='submit' value='Different event' onclick="javascript:record_event_before_submit('Category before submit', 'Action before submit','Label before submit')">

</body>
  <script type='text/javascript'  src='/site_media/js/prototype.js'></script>
  <script type='text/JavaScript' src='/site_media/js/events.js'></script>

</html>



